NEXT_PUBLIC_APP_URL=http://localhost:3000

# Prisma & NeonDB
DATABASE_URL=

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Polar
POLAR_ACCESS_TOKEN=
POLAR_SUCCESS_URL=http://localhost:3000
NEXT_PUBLIC_POLAR_PRODUCT_ID=
NEXT_PUBLIC_POLAR_PRODUCT_SLUG=

# Ngrok
NGROK_URL=

# Sentry
SENTRY_AUTH_TOKEN=

# AI
GEMINI_API_KEY=
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
OPENROUTER_API_KEY=
NEXT_PUBLIC_OPENROUTER_MODEL_NAME="kwaipilot/kat-coder-pro:free" # Required for fallback backend

# Encryption
# Get one from: https://generate-random.org/encryption-keys
ENCRYPTION_KEY="any-key"
